.font-stylingg
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: -0.3px;

color: #003B4A;
}
.font-stylingg1
{
font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #003B4A;
}

.text_colors{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
text-align: center;

color: #003B4A;

}
.btn_greens123{
    // width: 101px;
height:20%;
border: none;
background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 12px;
align-self: center;
}


.btn_greens{
    // width: 101px;
    padding-left: 12px;
height: 40px;
border: none;
background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 12px;
align-self: center;
}

.rowing [dir=ltr]row
{
    padding-right: calc(var(--bs-gutter-x) * 0.0);
    padding-left: calc(var(--bs-gutter-x) * 0.1);
}

.modal {
   
    --bs-modal-width: 640px! important ;
}

.borderrs
{
//     font-family: 'Asap';
// font-style: normal;
    background: #FFFFFF;
    border:1px solid #ECECEC;
    border-radius: 14px;
    width:550px;
    height:172px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #003B4A;
    // line-height: 18px;
}
.borderrs1
{
//     font-family: 'Asap';
// font-style: normal;
    background: #FFFFFF;
    border:1px solid #ECECEC;
    border-radius: 14px;
    
    height:172px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #003B4A;
    // line-height: 18px;
}

.bordersss
{
    // border:1px solid #CCD8DB;
    width:526px;
    text-align:center;
    color:#CCD8DB;
}

.positionss
{
    position: absolute;
    right:5px;
    top:0px;
}

.positionss1
{
    position: absolute;
    right:5px;
    top:35px;
}

.btnstyle1{
    font-family: 'Asap';
    font-style: normal;
    padding:12px;
    width:255px;
    height: 60px;
    background: #FFFFFF;
border-radius: 12px;
text-align: center;
border:1px solid #003B4A;
color:#003B4A;
font-weight: 600;
font-size: 18px;
}
.btnstyledetail1{
    font-family: 'Asap';
font-style: normal;
   width:255px;
    padding: 12px;
    background-color: #95E1BF !important;
    border:1px solid #95E1BF !important;
border-radius:12px;
text-align: center;
color:#003B4A;
height: 60px;
font-weight: 600;
font-size: 18px;
}

.noningoption
{
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border: none;
    width:526px;
    height:60px;
    border-color: none;
    border-bottom: 1px solid #CCD8DB;
    outline: none;

}

