.cards1 {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1) !important;
    border-radius: 20px;
    padding: 20px;

}

.spanpending1
{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #003B4A;
}

.font-chatprivate
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
letter-spacing: -0.3px;

color: #003B4A;

}
.font-createdd
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;

color: #677E84;
}

.spanpending-content{
    
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;

color: #677E84;
}

// .pending-detail{
//     width: 92%
// }

.font-lovers
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;

color: #677E84;
}

.font-document
{
    
font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #677E84;

}

.btnstyle21
{
    
    font-family: 'Asap';
    font-style: normal;
    padding:12px;
    width:255px;
    height: 60px;
    background: #FFFFFF;
border-radius: 12px;
text-align: center;
border:1px solid #003B4A;
color:#003B4A;
font-weight: 600;
font-size: 18px;
}


.btnstyledetail21
{
width: 255px;
height: 60px;

background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 12px;
font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;
border:none;
color: #003B4A;


}

.area-top .modal .modal-content {
  
    margin-top: 200px !important;
}

.area-top .modal-content {
    border-radius: 20px !important;
}





