.font-stylinggg
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: -0.3px;

color: #003B4A;
}

.fontingg
{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #677E84;

}

.fontinggg
{
    
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;

color: #677E84;

}


.btnstyle2{
    font-family: 'Asap';
    font-style: normal;
    padding:12px;
    width:255px;
    height: 60px;
    background: #FFFFFF;
border-radius: 12px;
text-align: center;
border:1px solid #003B4A;
color:#003B4A;
font-weight: 600;
font-size: 18px;
}
.btnstyledetail2{
    font-family: 'Asap';
font-style: normal;
   width:255px;
    padding: 12px;
    background-color: #95E1BF !important;
    border:1px solid #95E1BF !important;
border-radius:12px;
text-align: center;
color:#003B4A;
height: 60px;
font-weight: 600;
font-size: 18px;
}

.fonting-style
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #003B4A;
}
// input[type=checkbox] {
//     outline: 2px solid #c00;
//  }

input[type=checkbox] {
    accent-color:#003B4A;
    // border:none;
    border: 1px solid #677E84;
    
  }

//   input:checked {
//     // border: none;
//     border: 1px solid rgba(0, 59, 74, 0.5);
//     border-radius: 6px;

// }
// .checkbox label::after {
//     left: 4px;
//     top: 7px;
// }

// input[type='checkbox']:checked:after {
//     content: '\2713';
//     color:white;
//     width:3px;
//     height:3px;
//   }


.noningoption1
{
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border: none;
    width:520px;
    height:56px;
    border-color: none;
    border-bottom: 1px solid #CCD8DB;
   
  
    outline: none;
}



.noningoption2
{
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border: none;
    width:520px;
    height:56px;
    border-color: none;
    border-bottom: 1px solid #CCD8DB;
   
  
    outline: none;
}


// .relatives
// {
   
   
// }

.relatives
{
    position: relative;
    top: 25px;
  left:91%;  
    
   
}

.relatives1
{
  
    position: relative;
    top: 500px;
  left:91%;  
}

.relatives2
{
    position: absolute;
   right:50px
   
}

.relatives3
{
    position: absolute;
    right:50px; 
}

.borderrs22
{
//     font-family: 'Asap';
// font-style: normal;
    background: #FFFFFF;
    border:1px solid #95E1BF;
    border-radius: 14px;
    width:560px;
    height:150px;
   
    font-size: 16px;
    font-weight: 500;
    color: #003B4A;
    // line-height: 18px;
    // position: absolute;
}



.borderrs2
{
//     font-family: 'Asap';
// font-style: normal;
    background: #FFFFFF;
    border:1px solid #95E1BF;
    border-radius: 14px;
    width:560px;
    height:180px;
   
    font-size: 16px;
    font-weight: 500;
    color: #003B4A;
    // line-height: 18px;
    // position: absolute;
}

.bordersss
{
    
    // border:1px solid #CCD8DB;
    width:526px;
    text-align:center;
    color:#CCD8DB;
}

.absolutess
{
    position: absolute;
}


.extraalignment1
{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #677E84;

}

.relativess1
{
    position: absoli
;
    
}
.absolutesss
{
    position:absolute;
}

.font-dropdown
{
    

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    
    color: #003B4A;


}