.spanprofile{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
color: #003B4A;
}
.scrolled{
    overflow-x:scroll ;
    height:"200px"
}
.spanlight{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

/* identical to box height */

color: #677E84;
}
.cards{
    background-color: #FFFFFF;
border-radius: 20px;
}
.spansemilight{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size:99%;
line-height: 16px;

/* identical to box height */
text-align: center;
letter-spacing: -0.3px;

color: #677E84;
}
.font_light{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

/* identical to box height */
text-align: center;
letter-spacing: -0.3px;

color: #003B4A;
}
.font_l{

    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    /* identical to box height */
    
    color: #003B4A;
}
.borders{
    border-bottom:1px solid #CCD8DB;;
}
.main_cont{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;

/* identical to box height */

color: #003B4A;
}
.bg{
    /* Rectangle 4265 */
padding:7px;
box-sizing: border-box;


border-radius: 10px;
background-color: rgba(149, 225, 191, 0.3);
}
.addtionalinfo_content{
    
font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;

/* identical to box height */

color: #003B4A;
}
.profiles_detail{
    
font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* identical to box height */

color: #003B4A;
}

.sideprofilemailid{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #677E84;
}