//main navlink section
.sponsor-eventmain-navlink {
    margin-right: 20px;
}

// active sponsor active top section
.top-contentSection {
    padding-left: 22px;
}

.sponser-textspanbold4 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.sponsor-textspanbold5 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.sponser-textspanbold6 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.sponsor-textspanbold16 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #003B4A;
}

.sponsor-textspanbold17 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.sponser-textspanlight1 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #677E84;
}

.sponsor-btntextbold2 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #003B4A;
    background: #95E1BF;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
    border-radius: 10px;
}

.sponser-textspanlight2 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #003B4A;
}

.sponsor-textspanbold7 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #003B4A;
}

.sponsor-spotremaining {
    width: 31px;
    // padding: 3px 0px;
}

.sponsor-btn2 {
    padding: 10px 16px;
    border: none;
    margin-top: 5px;
}

.sponsor-spotSection {
    /* background-color: #f1faf5; */
    background: rgba(110, 201, 161, 0.12);
    /* opacity: 0.8; */
    border-radius: 20px;
}

.sponser-textspanlight3 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #003B4A;
    position: relative;
    right: 21px;
}

.sponsor-durationsection {
    padding-top: 6px;
}

.custom-modal-pastevent {
    max-width: 46%;
}

.hr-line1 {
    border: 1px solid #CCD8DB;
}

// sponsor event analytics section
.sponsor-textspanbold1 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #003B4A;
    background: rgba(180, 222, 201, 0.2);
    border-radius: 10px;
}

.sponsor-textspanbold2 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.sponsor-textspanbold3 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #003B4A;
}

.sponsor-btntextbold1 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #003B4A;
    border: 1px solid #000000;
    // filter: drop-shadow(0px 10px 20px rgba(21, 82, 64));
    border-radius: 10px;
    padding: 8px 8px;
    background-color: #FFFFFF;
}

.sponser-viewbtn {
    margin-right: 20px;
}

.analyticsData-section {
    // border: 2px solid  red;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(40, 94, 69, 0.15);
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 3px;
    // margin: 5px;
}

.analytics-datavalue {
    padding: 4px 14px;
}

// sponsorship-active demographics section
.sponser-textspanbold8 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.sponsor-textspanbold9 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.sponsor-textspanbold10 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    text-decoration-line: underline;
    color: #003B4A;
}

.hrline2 {
    margin-bottom: 22px;
    // margin-top: 3px;
    color: #CCD8DB;
}

//past events sponsorship tab css
.barryPrivateEventname {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #003B4A;
    border: none;
    background-color: #FFFFFF;
    outline: 0px;
}

.sponsor-textspanbold14 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.pastevents-eventsection {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(40, 94, 69, 0.15);
    border-radius: 20px;
}

.pastevent-innercontent {
    padding-top: 7px;
}

.pastevent-groupsinnercontent {
    padding-top: 5px;
}

.sponsor-textspanlight7 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #677E84;
    text-underline-offset: 2px;
}

.sponsor-textspanlight9 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #677E84;
}

.sponsor-textspanlight8 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #677E84;
}

.sponsor-textspanlightbold8 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #677E84;
}

.sponsor-textspanbold15 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.sponsor-textspanboldlight15 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.sponsorevent-postinnersection {
    line-height: normal;
    width: 90%;
    padding-top: 8px;
}

//deleted events sponsorship tab css
.sponsor-deletedgroupmain1 {
    background: #FFFFFF;
    border: 1.5px solid #95E1BF;
    box-shadow: 0px 4px 40px rgba(40, 94, 69);
    border-radius: 20px;
}

.sponsor-deletedgroupmain2 {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(40, 94, 69);
    border-radius: 20px;
}

.event-detailsection {
    padding-top: 5px;
}

// manage event attending css
.manageattending-custommodal {
    width: 48%;
}

.sponsor-textspanbold11 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #003B4A;
}

.sponsor-textspanlight4 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #93A5AA;
}

.sponsor-textspanlight5 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #003B4A;
}

.sponsor-textspanbold12 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.sponsor-textspanbold13 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.sponsor-btn3 {
    font-family: 'Asap';
    font-style: normal;
    padding: 12px;
    width: 255px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #003B4A;
    color: #003B4A;
    font-weight: 600;
    font-size: 18px;
}

.sponsor-btn4 {
    font-family: 'Asap';
    font-style: normal;
    width: 255px;
    padding: 12px;
    background-color: #95E1BF !important;
    border: 1px solid #95E1BF !important;
    border-radius: 12px;
    text-align: center;
    color: #003B4A;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
}

.sponsor-btn7 {
    background: #95e1bf;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
    border-radius: 12px;
    align-items: center;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
    border: 1px solid #95e1bf;
    color: #003b4a;
    float: right;
}

.sponsor-btn8 {
    border-color: #003b4a;
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    padding: 13px 50px;
    font-size: 18px;
    font-weight: bold;
    color: #003b4a;
    margin-bottom: 20px;
    float: left;
    border: 1px solid;
}

.sponsor-btn9 {
    background: #95E1BF;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
    border-radius: 12px;
    border: none;
}

.sponsor-textspanlight6 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.analytics-section {
    padding: 0px 5px;
}

.attending-dialog {
    margin: 30px 10px 25px 22px;
}

.attending-profilesection {
    padding-left: 24px;
}

.attending-reason1section {
    padding: 10px 0px 5px 0px;
}

.attending-reason2section {
    padding: 9px 0px 14px 0px;
}

.pending-update {
    margin-left: 7px;
}

.addtoattend {
    padding: 0px 3px;
}

.closebuttonuser {
    border-color: #003b4a;
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: bold;
    color: #003b4a;
    margin-bottom: 20px;
    float: left;
    border: 1px solid;
}

.Exportbuttonuser {
    background: #95e1bf;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
    border-radius: 12px;
    align-items: center;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
    border: none;
    color: #003b4a;
    float: right;
}

// dropdown customization- pendingattend
.pendingattend-dropdown .dropdown-toggle {
    padding: 0px !important;
}

.pendingattend-dropdown .dropdown-toggle:focus {
    background-color: #FFFFFF !important;
}

.pendingattend-dropdown .dropdown-menu[data-popper-placement=bottom-start] {
    margin: 0px !important;
}

.pendingattend-dropdownitem {
    padding: 5px 5px 5px 10px;
    /* width: 50px !important; */
}

.pendingattend-dropdownitem:hover {
    background-color: transparent;
}

.pendingattend-dropdown .dropdown-menu {
    min-width: 110px !important;
    max-width: 110px !important;
    background: #FFFFFF;
    border: 1px solid rgba(0, 59, 74, 0.2) !important;
    box-shadow: 0px 5px 20px rgba(40, 94, 69, 0.1) !important;
    border-radius: 10px !important;
    padding-top: 3px;
    transform: translate3d(10px, 33px, 0px) !important;
}

.pendingattend-dropdownitemName {
    padding-left: 6px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.pendingattend-dropdown .dropdown-toggle::after {
    display: none;
}

// dropdown customization- pendingattend
.waitlistattend-dropdown .dropdown-toggle {
    padding: 0px !important;
}

.waitlistattend-dropdown .dropdown-toggle:focus {
    background-color: #FFFFFF !important;
}

.waitlistattend-dropdown .dropdown-menu[data-popper-placement=bottom-start] {
    margin: 0px !important;
}

.waitlistattend-dropdownitem {
    padding: 5px 5px 5px 10px;
    /* width: 50px !important; */
}

.waitlistattend-dropdownitem:hover {
    background-color: transparent;
}

.waitlistattend-dropdown .dropdown-menu {
    min-width: 160px !important;
    max-width: 110px !important;
    background: #FFFFFF;
    border: 1px solid rgba(0, 59, 74, 0.2) !important;
    box-shadow: 0px 5px 20px rgba(40, 94, 69, 0.1) !important;
    border-radius: 10px !important;
    padding-top: 3px;
    transform: translate3d(10px, 33px, 0px) !important;
}

.waitlistattend-dropdownitemName {
    padding-left: 6px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.waitlistattend-dropdown .dropdown-toggle::after {
    display: none;
}

// dropdown customization ends 
// scrollbar customization
.attending-scrollbar {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.attending-forceoverflow {
    min-height: 300px;
}

#attending-style1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 59, 74, 0.1);
    border-radius: 30px;
    background-color: rgba(0, 59, 74, 0.1);
}

#attending-style1::-webkit-scrollbar {
    width: 4px;
}

#attending-style1::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #003B4A;
}

//scroll bar customization ends
//Chart customization
.apexcharts-grid-borders {
    display: none;
}

.apexcharts-xaxis-tick {
    display: none;
}

//chart customization ends
// sponsorship-send email to members popup css
.sendemail-custommodal {
    width: 47%;
}

.sponser-textspanbold18 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.sendEmail-modalcontent {
    padding: 20px 15px 10px 30px;
}

.draftemail-textarea {
    border: 1px solid #ECECEC;
    border-radius: 14px;
    min-height: 320px;
    outline: none;
}

.draftemail-textarea::placeholder {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #858585;
}

//active event report modal css
.activeEventReport-custommodal {
    width: 45%;
}

.activeEventReport-content {
    padding: 35px 30px 30px 30px;
}

.sponsor-textspanbold19 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #003B4A;
}

.sponsor-textspanbold20 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #003B4A;
}

.eventReport-top {
    background: #FFFFFF;
    // opacity: 0.8;
    box-shadow: 0px 5px 20px rgba(40, 94, 69, 0.1);
    border-radius: 20px;
}

.sponsorbutton5 {
    background: #95e1bf;
    box-shadow: 0px 10px 20px rgb(21 82 64 / 10%);
    border-radius: 12px;
    padding: 15px 40px;
    border: none;
}

//active events- view reports
.activeEventSendReport-custommodal {
    width: 48%;
}

.activeEventViewreport-content {
    padding: 30px 15px 15px 15px;
}

.sponsor-textspanbold22 {
    font-family: 'Asap';
    font-style: normal;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #003B4A;
}

//active events- send reports
.activeEventSendReport-custommodal {
    width: 52%;
}

.activeEventSendReport-content {
    padding: 30px 30px 40px 30px;
}

.sponsor-textspanbold21 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    /* or 127% */
    letter-spacing: -0.3px;
    color: #003B4A;
}

.sponsor-btn5 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #003B4A;
    background: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #003b4a;
    padding: 12px;
}

.sponsor-btn6 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #003B4A;
    border-radius: 12px;
    border: 1px solid #95E1BF;
    padding: 12px;
    background-color: #95E1BF;
}

.sponsor-textspanlight10 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #003B4A;
}

.sendReport-des {
    background: rgba(110, 201, 161, 0.12);
    // opacity: 0.8;
    border-radius: 20px;
}

// new custom bar
.ybar {
    height: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #003B4A;
}

.yaxisLabel {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #677E84;
}

.yaxisValue {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #677E84;
}

.chartheading-left {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.chartheading-right {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    text-decoration-line: underline;
    color: #003B4A;
}

.yaxisbar-section {
    width: 56%;
}

.yaxisLabel {
    width: 39%;
}

.sectionShadow {
    filter: drop-shadow(0px 3.41667px 6.83333px rgba(21, 82, 64, 0.1))
}