.font-controls
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 34px;
text-align: center;
letter-spacing: -0.3px;

color: #003B4A;

}

.font-creation
{
    
font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #003B4A;
}
.font-shows
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #003B4A;
}

.font-defaults
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
text-align: center;
letter-spacing: -0.3px;

color: #677E84;
}

.font-offs
{

    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #003B4A;
}

.font-allows
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #003B4A;
}

.font-explporers1
{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
/* identical to box height */


color: #003B4A;

}

.font-explporers11
{
    
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;

color: #677E84;

}

.font-numbers
{

    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #003B4A;
    
}
.font-primarys
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    
    color: #003B4A;
}
.font-closers
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    
    
    color: #677E84;
}

.font-hints
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #003B4A;
}
.font-requires
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    
    color: #677E84;
}

.heloooo12 .formControl
{
    border-radius: 10px;
}

.btnstyless
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    border-radius: 12px;
    color: #003B4A;
    background: white;
    border:1px solid #003B4A;
    width: 255px;
height: 60px;
}

.btnstyledetailss
{
    width: 255px;
height: 60px;
    background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 12px;
font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;
border: none;
color: #003B4A;
}

.fonting-stylesss
{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #003B4A;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}