.font-stylingg13
{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #003B4A;
}

.btn_greens13
{
    height: 40px;
background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 10px;
border: none;
}

.text_colors13
{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
text-align: center;

color: #003B4A;


}

.borderrs13
{
    background: #FFFFFF;
    border:1px solid #ECECEC;
    border-radius: 14px;
    width:350ppx;
    height:137px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #003B4A;
    margin-left: 4px;
}

.noningoption13
{
    border-radius: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border: none;
    width:400px;
    height:60px;
    border-color: none;
    border-bottom: 1px solid #CCD8DB;
    outline: none;
    margin-top:0px;
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;

color: #003B4A;
}

.positionss13
{
    position: absolute;
    right:5px;
    top:0px;
}

.tag-text13
{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;

color: #003B4A;
}

.font-events
{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #003B4A;
}

.font-groups13
{
    
font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 25px;

color: #003B4A;
}

.font-grptype13
{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #003B4A;

}

.fonting-style13
{
    
font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height */


color: #003B4A;

}


.btn-btn-green13
{
   
height: 40px;

background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 10px;
border: none;

}


.hello11 #range-slider-gradient .range-slider__thumb[data-lower] {
    background: red;
  }


 .hello11 .single-thumb .range-slider__thumb[data-lower] {
    width: 0;
  }
 .hello11 .single-thumb .range-slider__range {
    border-radius: 6px;
  }

  .hello11 .range-slider .range-slider__thumb {
    border-radius: 50%;
    background:  #95E1BF;
    
    // border: 2px solid #FFFFFF !important;
    box-shadow: 0px 4px 4px rgb(121 231 182 / 19%) !important;
    
}

.hello11 .range-slider .range-slider__range {
    transform: translate(0, -50%);
    background: #95E1BF;
   
}

.hello11 .range-slider .range-slider__thumb {
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 20px;
    height: 20px;

    margin: 0px 10px;
    // border: 2px solid #FFFFFF !important;
    // box-shadow: 0px 4px 4px rgb(121 231 182 / 19%) !important;

    
}

.hello11

    .range-slider {
        cursor: pointer;
        background: rgba(149, 225, 191, 0.15) !important;
        border-radius: 4px;

    }

    .input-within-sliders
  {
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #003B4A;
  }

  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
