.sponsership-groupscenter-panel {
    width: 63%;
}

.messagechat_prof {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    /* or 143% */

    color: #003B4A;


}

.form-control {
    padding: 12px !important;
    background: #FFFFFF;
    border: 1px solid #E6E6E6 !important;
    border-radius: 14px;
}

.message_sendMessageBtn {

    position: absolute;
    right: 10px;

    bottom: 0px;
}

.messagechat {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;

    color: #003B4A;
}

.messagechat_border1 {
    background: rgba(0, 59, 74, 0.06);
    border-radius: 16px 16px 16px 0px;
}

.messagechat_border2 {
    background: #EAF9F2;
    border-radius: 16px 16px 0px 16px;
}

.messages_boldtext {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    /* identical to box height */

    color: #003B4A;
}

.messagechatbox_subtext {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* identical to box height */

    color: #003B4A;
}

.messagechatbox_profile {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;

    color: #003B4A;
}

.messages_timedate {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #003B4A;


}

.messagemailandphone {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #677E84;


}

.message_resolve {
    background: rgba(149, 225, 191, 0.15);
    border-radius: 10px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */

    color: #003B4A;
}

.grouptabheading-active1 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    /* identical to box height */

    color: #003B4A;
}

.grouptabheading-active1.active {
    font-weight: 700 !important;
}

.messages_styling {
    position: absolute;
    top: -7px;
    border: 1px solid #003B4A;
    border-radius: 11px;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Asap';
    background: #95E1BF;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;

    color: #003B4A;
}

.messages_subtext {
    font-family: 'Asap';
    font-style: normal;

    font-size: 14px;
    line-height: 18px;

    color: #677E84;
}

.btn_filter {
    width: 162px;
    height: 51px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.sponsership-groupsright-panel {
    width: 37%;
}

.font-reports {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #003B4A;
}

.font-reportname {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #003B4A;
}

.font-reportname1 {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #677E84;
}

.font-duration {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #003B4A;
}

.font-time {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #003B4A;

}

.font-reportstatus {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #677E84;
}

.reportstatus1 {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.3px;

    color: #003B4A;

}

.font-reportname1:hover {
    text-decoration: underline;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: #677E84;
}


.font-reportsreasons {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;

    color: #003B4A;
}

.textalgn {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #003B4A;
}

.font-reporting {

    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */


    color: #003B4A;

}

/* ------------------Reports message dropdown--------------------*/

.messages-dropdown .dropdown-toggle::after {
    display: none;
}

.messages-dropdown .dropdown-toggle {
    padding: 0px !important;
}

.messages-dropdown .dropdown-toggle:focus {
    background-color: #FFFFFF !important;
}

.messages-dropdown .dropdown-menu[data-popper-placement=bottom-start] {
    margin: 0px !important;
}

.messages-dropdownitem {
    padding: 5px 5px 5px 10px;
}

.messages-dropdownitem:hover {
    background-color: transparent;
}

.messages-dropdown .dropdown-menu {
    min-width: 152px !important;
    max-width: 100px !important;
    background: #FFFFFF;
    border: 1px solid rgba(53, 97, 108, 0.2) !important;
    box-shadow: 0px 5px 20px rgba(40, 94, 69, 0.1) !important;
    border-radius: 10px !important;
    transform: translate3d(-1px, 45px, 0px) !important;
    padding: 2px 0px;
}

.messages-dropdownmenu::after {
    content: '';
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #FFFFFF;
    top: -4px;
    left: 87% !important;
    border-top: 1px solid rgba(53, 97, 108, 0.2);
    border-left: 1px solid rgba(53, 97, 108, 0.2);
    transform: rotate(45deg);
    border-top-left-radius: 2px;
}

.messages-dropdownitemName {
    padding-left: 6px;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

//drop down customzation ends  