.questions_toptext{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    
    /* identical to box height */
    
    color: #003B4A;
    
    
}
.Free_Form:last-child{
width:100%
}
.questions_questions1{
    position: relative;
    top:3px;
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

/* identical to box height */

color: #003B4A;
}
.questions_multiplecheckbox{
font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* identical to box height */

color: #003B4A;

}