.sponsorship_tabheaders {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.event_smallertextes {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #003B4A;
}

.event_smallertextes_smallsizes {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #003B4A;
}

.sponsorship_txtss {
    position: absolute;
    right: 0px;
    margin-right: 30px;
    margin-bottom: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent
}

.sonsor_scrollbars {
    // width:6px;
    height: 217px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 2px;
}

.sponsor_btn_text {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.sponsorship_tabheaders_text {
    font-family: 'Asap';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.sponserlist_text1 {
    position: absolute;
    left: 0px;
    margin-left: 30px;
    margin-bottom: 120px
}

.reports_style {
    background: #FFFFFF;
    opacity: 0.8;
    padding-left: 0px;
    border: 0.5px solid rgba(0, 59, 74, 0.5);
    box-shadow: 0px 5px 20px rgba(40, 94, 69, 0.1);
    border-radius: 16px;
}

.generalinfo_admins {
    /* Admins (2) */
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.test:last-child {
    margin-left: 24px;
}

.generalinfo_associategrp {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #003B4A;
}

.generalinfo_righttext {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    letter-spacing: -0.3px;
    color: #003B4A;
}

.generalinfo_buttonsstyle {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #003B4A;
}

.generalinfo_buttons {
    background: #95E1BF;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
    border-radius: 10px;
    border: none;
}

.generalinfo_normaltext {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #003B4A;
}

.generalinfo_bottomtext {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #003B4A;
}

.sponsorship_style {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #677E84;
}

.sideprofile-eventtitle {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.sideprofile-eventdate {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #282828;
}

.sideprofile-eventtime {
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #003B4A;
}

.sideprofile-timesection {
    background: #FFFFFF;
    border: 2px solid #CFFBE7;
    border-radius: 10px;
    // position: absolute;
    // top:20px;
}