.post_innertext{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;

/* identical to box height */

color: #003B4A;
}
.post_bold{
    
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

color: #003B4A;


}
.post_weightage{
    
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

/* identical to box height */
text-align: right;
letter-spacing: -0.3px;

color: #003B4A;
}
.post_smalltext{
    
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

/* identical to box height */

color: #003B4A;


}
.postvs{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
}
.post_light{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #003B4A;  
}