.sponsorpopup-textheader{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;

/* identical to box height */

color: #003B4A;
}
.sponsor-bigtext{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 30px;

/* identical to box height */
text-align: center;
letter-spacing: -0.3px;

color: #003B4A;
}
.sponsor_bullets{
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

/* identical to box height */

color: #003B4A;
}
.sponsor-textcomon{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #677E84;
}
.sponsor-checkboxcommom{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* identical to box height */

color: #003B4A;


}