.leftpanelbg {
    border-radius: 0px 20px 20px 0px;
    background: #ffffff;
    height: 100vh;
}

.loginBtn {
    background: #FFFFFF;
    border-radius: 10px;
    border-color: #d5a20e !important;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1)
}

.loginBtn:hover {
    background: #d5a20e;
    border-radius: 10px;
    border-color: #d8d6de !important;
    color: #201d1d;
    box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1)
}
