.testval::-webkit-scrollbar {
  display: none;
}

.comedyshow {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;

}

.analytics_really {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height */

  color: #93A5AA;
}

.comedyshow {

  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;


}

/* Log In to Your Admin Account */
.answerreport {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;
}

.analitics {
  width: "380px" !important;
  margin-top: "20px" !important;
  height: "500px" !important;
  overflow-y: "scroll" !important;
  margin-left: "-140px" !important;
  border: "2px solid #95E1BF" !important;
  border-radius: "15px" !important;
}

.filtersmallfontsize {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #003B4A;
}

/* Track */
.testval::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
.testval::-webkit-scrollbar-thumb {
  background: #003B4A;
  border-radius: 5px;
}

/* Handle on hover */
.testval::-webkit-scrollbar-thumb:hover {
  background: #003B4A;
}

.values {
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate3d(-0.5px, 55.5px, 0px);
  z-index: 12;
  margin-right: 23%;
  margin-top: 1%;
}

/* Gender: Female */
.bolders {

  font-family: 'Asap';
  font-style: normal;

  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #003B4A;

}

.overflow {
  overflow-y: auto;
  height: 315px
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 59, 74, 0.1);
  border-radius: 30px;
  background-color: rgba(0, 59, 74, 0.1);
}


#style-2::-webkit-scrollbar {
  width: 4px;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #003B4A;
}

.text_popup {
  /* Small Text 1 */



  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #003B4A;




}

.analyticsfontstyle {
  font-family: "Asap";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #003b4a;
}

.font_details {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #003B4A;

}

.btn_values {
  background: #95E1BF;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  border: none;
}

.wid {
  width: 104px;
  height: 42px;

  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;
}

.s_graph {
  font-family: "Asap";
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #003b4a;
}

.borders {
  border-bottom: 1px solid #CCD8DB;
  width: 100%
}

.card {
  border-radius: 20px !important;
}

.m_adjusts {
  margin-left: -62px;
  margin-top: -31px;
}

.mar {
  margin-top: 74px;

}

.clss {
  font-size: xx-large;
}

.aqone {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.3px;
  width: 30%;
  color: #003B4A;
}

.topva {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* identical to box height */

  color: #003B4A;
}

.classans {

  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height */

  color: #003B4A;


}

.scrollbars {
  height: 195px;
  overflow-y:auto;
  overflow-x: hidden;
  margin-left: 2px
}

.scrollbar {
  height: 370px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 2px
}

#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 59, 74, 0.1);
  border-radius: 30px;
  background-color: rgba(0, 59, 74, 0.1);
}

#style-2::-webkit-scrollbar {
  width: 4px;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #003B4A;
}

.valans {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height */

  color: #003B4A;
}

.topname {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: #003B4A;


}

.grp1 {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.3px;
  width: 18%;
  color: #003B4A;
}

.grp {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.3px;
  width: 87%;
  margin-top: 6%;
  color: #003B4A;

}

.btnss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #95E1BF;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 10px;
  padding: 12px;
  border: none;
  width: 98%;
}

.txtt_alignss {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #003B4A;
}

.an {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.3px;
  text-align: left;
  color: #003B4A;

}

.flexss {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flexss1 {
  display: flex;

  align-items: baseline;
}

.pos {
  display: flex;
  justify-content: flex-end;
  position: relative;

  left: -20px;
}

.m {
  top: 2px;
  margin-top: 2px;
  height: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  margin-bottom: 7px;
  margin-left: 3px;
}





.comparison {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 1000;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #003B4A;
  margin-top: -32px;
}

.break {
  word-break: break-word;
}

.text_parent {
  margin-top: 30px;
  position: absolute;
  font-weight: 500;
  font-size: 19px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.text_parent1 {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -172px;
}

.parent {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.lineheight {
  line-height: 0%;
  color: #003B4A;
}

.drop {
  top: 0rem !important;
}

.card_look {
  background-color: #FFFFFF !important;
  box-shadow: 0px 4px 40px rgba(40, 94, 69, 0.15) !important;
  border-radius: 20px !important;
}

.style_font {
  font-family: "Asap";
  font-weight: 500;
  font-size: 14px;
  line-height: 18.34px;
  color: #003B4A;
}

.exportbutton {
  float: right;
  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 2%;
  width: 20%;
  gap: 10px;
  border: none;
}

.f_margin {

  margin-top: -12px;
}

.exportbuttons_ans {
  float: right;
  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border: none;

}

.exportbuttons {
  float: right;
  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 13px;
  gap: 10px;
  border: none;
}

.small_ex_but {

  float: right;
  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 11px;
  gap: 10px;
  border: none;
}

.bgg {
  background-color: rgba(180, 222, 201, 0.2);
  border-radius: 20px;
  padding: 11px;
  padding-right: 20px;
  padding-left: 20px;
  color: #003B4A;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}

.aligncenter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: #003B4A;
}

#val .popover {
  margin-left: -52px !important;

}

.popover {
  /* margin-left:32px !important; */

  background: #ffffff;
  border: 2px solid #95e1bf;
  border-radius: 8px;

}

.textanalytics {
  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #003b4a;
}

.textanalytics_ans {
  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #003b4a;
}

.csvbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 98px;
  margin: 8px;
  gap: 10px;
  border: none;
  background: #003b4a;
  border-radius: 10px;
  color: white;
  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.excelbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 95px;
  margin: 8px;
  gap: 10px;
  border: none;
  background: #003b4a;
  border-radius: 10px;
  color: white;
  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.marg_adj {
  margin-top: -3rem;
  margin-right: 14px;
}

.g {
  display: flex;
  flex-direction: column;
  height: 95%
}

.disp {
  width: 28%;
}

.align_answer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;

  align-items: center;

}

.answer_button {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  min-height: 47px;
  background-color: white;
  width: 100%
}

.g1 {
  display: flex;
  flex-direction: column;
 
}

.box {
  border-radius: 20px;

  /* background: #FFFFFF; */
}

.list {
  color: #95e1bf;
  margin-bottom: 3px;
  font-size: 1.5em;
}

.modal-content {
  /* max-width: 41% !important; */
  border-radius: 20px !important;
  margin-top: 10px;
}


.modal-dialog.flx {
  max-width: 50% !important;

  /* border-radius: 50px;
    margin-top: 10px; */
}

.modal-dialog.space {
  max-width: 45% !important;
  overflow-y: auto;
}

.listcolor {
  color: #003b4a;
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.heading {
  font-family: "Asap";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  /* text-align: center; */
  letter-spacing: -0.3px;
  color: #003b4a;
}

.heading1 {
  font-family: "Asap";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #003b4a;
  margin-top: 10px;
}

.top-space {
  margin-top: 10px;
}

hr {
  border: 1px solid #ccd8db;
}

.closebutton {
  border-color: #003b4a;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  padding: 15px 100px;
  font-size: 18px;
  font-weight: bold;
  color: #003b4a;
  margin-top: 20px;
  border: 1px solid;
}

.closebuttoncsv {
  border-color: #003b4a;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  padding: 15px 70px;
  font-size: 18px;
  font-weight: bold;
  color: #003b4a;
  margin-bottom: 20px;
}

.otherbutton {
  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 14px 20px;
  gap: 10px;
  border: none;
  color: #003b4a;
  margin-top: 10px;
}

/* .imgbg{
   
    margin-left: 160px;
   
} */

.csvpop {
  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003b4a;

  width: 363px;
  height: 42px;
}

.boxbody {
  padding: 50px 100px;
}

.active-user {
  font-family: "Asap";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003b4a;
}

.active_user_img {
  display: flex;
  align-items: center;
  justify-content: left;
}
.analytics_register{
font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* identical to box height */

color: #003B4A;
}
.user_name {
  font-family: "Asap";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: #003b4a;
  /* display: block;
flex: none; */
}

.registration-count {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #003b4a;
  /* margin-right: 90px; */
}

/* .adjust{
  margin-left:-8px;
} */
.closebuttonuser {
  border-color: #003b4a;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  padding: 15px 60px;
  font-size: 18px;
  font-weight: bold;
  color: #003b4a;
  margin-bottom: 20px;
  float: left;
  border: 1px solid;
}

.Exportbuttonuser {
  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  align-items: center;
  padding: 15px 60px;
  font-size: 18px;
  font-weight: bold;
  gap: 10px;
  border: none;
  color: #003b4a;
  float: right;
}

.cls {
  margin-left: 18px;
  font-size: 36px;
  ;
}

.div_bg1 {
  background: rgba(180, 222, 201, 0.2);
  border-radius: 20px;
  height: 11%;
}

.flexlay1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_lay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.small_text1 {
  font-family: 'Asap';
  font-style: normal;

  font-size: 16px;
  line-height: 18px;

  color: #003B4A;
}

.small_text {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: #003B4A;
}

.small_texted {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #003B4A;
}


.ma {
  position: relative;
  top: 6px;
  left: 18px;

}

.div_adjust {
  background: rgba(180, 222, 201, 0.2);
  border-radius: 20px;
  margin-left: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.div_adjusts {
  background: rgba(180, 222, 201, 0.2);
  border-radius: 20px;
  margin-left: -17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;

}

.div_adjust1 {
  background: rgba(180, 222, 201, 0.2);
  border-radius: 40px;
  height: 57px;
}

.adjt {
  margin-right: 10px;
}

.csv-img {
  /* background-color: #95E1BF; */
  background: rgba(121, 231, 182, 0.15);
  width: 25%;
  padding: 33px;
  border-radius: 15px;
}

.csv-img1 {
  /* background-color: #95E1BF; */
  background: rgba(121, 231, 182, 0.15);
  width: 20%;
  padding: 33px;
  border-radius: 15px;
}

.activeuserbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 80px;
  gap: 10px;

  position: absolute;

  background: #95e1bf;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 10px;

  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #003b4a;
}

.filterbutton {
  float: right;
  box-sizing: border-box;

  /* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; */

  border: 1px solid #d9d9d9;
  border-radius: 10px;
  width: 150px;
  padding: 15px;
  background: white;
  font-family: "Asap";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  letter-spacing: -0.3px;

  color: #003b4a;
}

.filterdown {
  /* position: absolute; */
  /* left: 90.12%; */
  /* right: 10.0%; */
  /* top: 44.64%;
bottom: 33.79%; */
  float: right;
  margin-top: 5px;
  /* border: 1.5px solid #003B4A; */
  /* transform: rotate(90deg); */
}

.main-modal {
  width: 80%;
}

/* .modal {
  width: 90%;
} */

.invite-code {
  background: #f5f5f5;
  width: 50%;
  font-family: "Asap";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: left;

  color: #003b4a;
  padding: 15px;
  border-radius: 12px;
  /* text-align: right; */
  border: solid;
  /* margin-left: 100px; */
}

.invite-number {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 34px; */
  text-align: center;
  letter-spacing: -0.3px;

  color: #003b4a;
  float: left;
  margin-left: 20px;
}

.scroll {
  overflow-y: scroll;
}

.tncheading {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  /* text-align: center; */
  letter-spacing: -0.3px;
  margin-bottom: 30px;
  margin-top: 10px;

  color: #003B4A;
}

.termsofservices {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #003B4A;

}



.termsofservices {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #003B4A;

}

.outerbox {
  background: #FFFFFF;
  border: 1px solid #95E1BF;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 20px;
  margin-top: 30px;
}

.innerbox {
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 14px;
  margin-bottom: 20px;

}

.tnc {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  justify-content: left;
  margin-bottom: 10px;


  color: #003B4A;
}

.tnc1 {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  justify-content: left;
  margin-bottom: 10px;



  color: #003B4A;
}

.savebutton {
  /* display: flex;
flex-direction: row; */
  /* justify-content: center;
align-items: center; */
  /* padding: 17px 101px;
gap: 10px; */

  /* position: absolute;
width: 254.59px;
height: 60px;
left: 693.41px;
top: 868px; */

  background: #95E1BF;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 101px;
  gap: 10px;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #003B4A;


  /* position: absolute;
width: 254.59px;
height: 60px;
left: 693.41px;
top: 868px; */

  background: #95E1BF;
  box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
  border-radius: 12px;
}

.tnc2 {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  justify-content: left;
  margin-bottom: 10px;



  color: #003B4A;
}

.upload {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.3px;
  /* text-decoration-line: underline; */
  padding-left: 5px;
  text-decoration: underline;

  color: #003B4A;
}

.right {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;
  justify-content: flex-end; */
  align-items: center;
  color: #003B4A;
  /* margin-left: 805px; */

}

.start_date {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;

  /* identical to box height */

  color: #003B4A;
}

.form_box {
  border: none;
  outline: none;
  width: 100%;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  /* identical to box height */

  color: #003B4A;


}

.react-calendar.hide {
  display: none;
}

.bac {
  background: rgba(180, 222, 201, 0.2);
  border-radius: 20px;
  flex-direction: column;
  padding: 6px;
  height: 75px;
}

.padd {
  padding: 8px;
  flex-direction: column;
  border-radius: 20px;
  height: 85%;
}

.paddings {
  padding: 3%;
  flex-direction: column;
  border-radius: 20px;

}

.graph_file {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;

  letter-spacing: -0.3px;

  color: #003B4A;
}

.background {
  background: rgba(180, 222, 201, 0.2);
  border-radius: 20px;
  flex-direction: column;
  padding: 6px;
  height: 80px;

}

.pd {
  padding-left: 8px;
  padding-right: 0px;
  margin-bottom: 30px;
}

.font_styles_header {
  width: 203px;
  height: 64px;
  display: flex;
  align-items: center;
  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;



}

.font_styles_text {



  font-family: 'Asap';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;


}

.an_font_style {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.3px;

  color: #003B4A;
}

/* .mp{
  margin-left:-14px;
} */
.outline_but {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  border: 2px solid black;


}

.big_txt {
  font-family: "Asap";
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color:
    #003B4A;
}

.widths {
  width: 29px;
  position: relative;
  right: 5px;
}

.small_txy {
  font-family: "Asap";
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color:
    #003B4A;
  position: relative;
  left: 43.71px;
}