@import '../../base/pages/authentication.scss';

.backgroundstyles{
    background: #003B4A;
border-radius: 0px 20px 20px 0px;
height:100vh;
}
.positionset{
    position:relative;
    top:27px;
}
.login{
    padding:17px;
}
.text_field{
    
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;

color: #003B4A;
}
.cardbar{
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(40, 94, 69, 0.15);
border-radius: 20px;
margin-bottom:0px
}
.fontstyle{
    font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
/* identical to box height */

letter-spacing: -0.3px;

color: #003B4A;
}
.subcontent{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 32px;
/* identical to box height */


letter-spacing: -0.3px;

color: #003B4A;
}
.invalid-feedback{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height */

letter-spacing: -0.3px;

color: #FF7E7E !important;
  }
  .is-invalid{
    border:1px solid #FF7E7E !important;
  }
.smallheader{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #858585;

}
.formControl{
margin-top: 5px;
}
.flexs{
    margin-top: 5px;  
}
.flex_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex{
    display:flex;flex-direction:column;
    justify-content: center;
    align-items: center;
}
.btns{
    background-color: #95E1BF !important;
    color:#003B4A !important;
    border-color:#95E1BF !important ;
}
.btn_update{
    position:relative;
    top:25px;
    height:60px;
    background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 12px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.colorss{
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #003B4A;
}
.checkboxalign[type="checkbox"]:after {
    background-color: #003B4A !important;
border: 1px solid rgba(0, 59, 74, 0.5) !important;
border-radius: 6px !important;
}
.text{
    color:#858585;
    text-decoration: underline;
}
.text :hover{
    text-decoration: underline;
}

.fontstyles3
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    
    text-align: center;
    
    color: #003B4A;
}

.fontstyles1
{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #003B4A;
}


.returns
{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    letter-spacing: -0.3px;
    text-decoration-line: underline;
    
    color: #003B4A;
    
}

.btn_update11
{
    width: 311px;
height: 60px;


background: #95E1BF;
box-shadow: 0px 10px 20px rgba(21, 82, 64, 0.1);
border-radius: 12px;
}